.container {
  height: 100vh;
  background-color: #eeeeee;
}

.item-form {
  min-width: 150px;
  width: 100%;
}
.item-full-width {
  width: 100%;
}
.buttons {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}
.item {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  align-items: baseline;
}

.list-button {
  display: flex;
  gap: 10px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
.card {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.row-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  h3 {
    margin: 0;
    font-size: medium;
  }
  p {
    margin: 0;
    font-size: small;
  }
}


.filter-container {
  background-color:  #EEEEEE;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px ;
  width: 100%;
  gap: 10px;
}