.header {
  background-color: #eeeeee;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.image{
  padding: 10px 5px;
  background-color: #95B71B;
}

.logout {
  cursor: pointer;
  border-bottom: solid 2px transparent;
  padding: 0 5px;
}

.logout:hover {
  border-bottom: solid 2px crimson;
  transition: 1s;
}
