.mat-toolbar {
  background-color: #EEEEEE;;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


img {
  cursor: pointer;
}

.logout {
  cursor: pointer;
  border-bottom: solid 2px transparent;
  padding: 0 5px;
}

.logout:hover {
  border-bottom: solid 2px crimson;
  transition: 1s;
}
