.container {
  height: 100%;
  background-color: #eeeeee;
  .item-form {
    min-width: 150px;
    width: 100%;
  }
  .item-full-width {
    width: 100%;
  }
  .add {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
  }
  .mat-card {
    background-color: #eeeeee;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  span{
    font-size: 14px;
    font-weight: bold;
  }
  .showed {
    background-color: #eeeeee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    &:hover {
      background-color: #ffffff;
    }
  }

  .list-button {
    display: flex;
    gap: 10px;
  }
  
  mat-card-title{
    span{
      color: #eeeeee;
      background-color: #396600;
      padding: 0px 5px ;
      border-radius: 5px;
    }
  }
  .flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
  }
  .fields{
    padding: 8px;
    text-align: center;
    font-size: 16px;
  }
  .grid50{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .filter-container {
    background-color: #eeeeee;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px 0 10px;
    width: 100%;
    gap: 10px;
  }
  .side{
    display: flex;
    align-items: flex-end;
    gap: 10px;
    p{
      margin: 0;
      color:  #95b71b;
    }
  }
}
