.item-form {
    min-width: 150px;
    width: 100%;
  }
  .item-full-width {
    width: 100%;
  }
  .add {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
  }
  .mat-card {
    background-color:  #EEEEEE;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .showed {
    background-color:  #EEEEEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    &:hover{
      background-color: #ffffff;
    }
  }
  
  .list-button{
    display: flex;
    gap: 10px;
  }
  
  .flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .flex-end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
  }

  .filter-container {
    background-color:  #EEEEEE;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px 0 10px ;
    width: 100%;
    gap: 10px;
  }

  .fake-button{
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }