<div class="header">
  <h2 mat-dialog-title>Transferir Equipamento</h2>
</div>
<mat-dialog-content>
  <div class="movement_content">
    <mat-card [ngSwitch]="movement">
      <mat-form-field class="item-full-width">
        <mat-label> Selecione o tipo de movimentação</mat-label>
        <mat-select [(ngModel)]="movement">
          <mat-option
            *ngFor="let movementType of allMovementTypes"
            [value]="movementType"
          >
            {{ movementType }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <form [formGroup]="movementForm">
        <div class="item-form" *ngSwitchCase="'Transferência'">
          <mat-form-field class="item-full-width">
            <mat-label>De:</mat-label>
            <mat-select
              placeholder="Colaborador"
              #singleSelect
              formControlName="byCollaboratorId"
            >
              <mat-option>
                <ngx-mat-select-search
                  [formControl]="collaboratorFilterCtrl"
                ></ngx-mat-select-search>
              </mat-option>
              <mat-option
                *ngFor="let collaborator of filteredCollaborators | async"
                [value]="collaborator.id"
              >
                {{ collaborator.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="item-full-width">
            <mat-label>Equipamento:</mat-label>
            <mat-select
              placeholder="equipamento"
              #singleSelect
              formControlName="equipmentId"
            >
              <mat-option>
                <ngx-mat-select-search
                  [formControl]="equipmentFilterCtrl"
                ></ngx-mat-select-search>
              </mat-option>
              <mat-option
                *ngFor="let equipment of filteredEquipments | async"
                [value]="equipment.id"
              >
                {{ equipment.title }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="item-full-width">
            <mat-label>Para:</mat-label>
            <mat-select
              placeholder="Colaborador"
              #singleSelect
              formControlName="toCollaboratorId"
            >
              <mat-option>
                <ngx-mat-select-search
                  [formControl]="collaboratorFilterCtrl"
                ></ngx-mat-select-search>
              </mat-option>
              <mat-option
                *ngFor="let collaborator of filteredCollaborators | async"
                [value]="collaborator.id"
              >
                {{ collaborator.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="item-form" *ngSwitchCase="'Saída'">
          <mat-form-field class="item-full-width">
            <mat-label>De:</mat-label>
            <mat-select
              placeholder="Colaborador"
              #singleSelect
              formControlName="byCollaboratorId"
            >
              <mat-option>
                <ngx-mat-select-search
                  [formControl]="collaboratorFilterCtrl"
                ></ngx-mat-select-search>
              </mat-option>
              <mat-option
                *ngFor="let collaborator of filteredCollaborators | async"
                [value]="collaborator.id"
              >
                {{ collaborator.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="item-full-width">
            <mat-label>Equipamento:</mat-label>
            <mat-select
              placeholder="equipamento"
              #singleSelect
              formControlName="equipmentId"
            >
              <mat-option>
                <ngx-mat-select-search
                  [formControl]="equipmentFilterCtrl"
                ></ngx-mat-select-search>
              </mat-option>
              <mat-option
                *ngFor="let equipment of filteredEquipments | async"
                [value]="equipment.id"
              >
                {{ equipment.title }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="item-form" *ngSwitchCase="'Entrada'">
          <mat-form-field class="item-full-width">
            <mat-label>Equipamento:</mat-label>
            <mat-select
              placeholder="equipamento"
              #singleSelect
              formControlName="equipmentId"
            >
              <mat-option>
                <ngx-mat-select-search
                  [formControl]="equipmentFilterCtrl"
                ></ngx-mat-select-search>
              </mat-option>
              <mat-option
                *ngFor="let equipment of filteredEquipments | async"
                [value]="equipment.id"
              >
                {{ equipment.title }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="item-full-width">
            <mat-label>Para:</mat-label>
            <mat-select
              placeholder="Colaborador"
              #singleSelect
              formControlName="toCollaboratorId"
            >
              <mat-option>
                <ngx-mat-select-search
                  [formControl]="collaboratorFilterCtrl"
                ></ngx-mat-select-search>
              </mat-option>
              <mat-option
                *ngFor="let collaborator of filteredCollaborators | async"
                [value]="collaborator.id"
              >
                {{ collaborator.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </form>
    </mat-card>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button mat-dialog-close color="warn">Cancel</button>
  <button
    mat-dialog-close
    type="submit"
    class="item-button"
    mat-flat-button
    color="accent"
    (click)="makeReport()"
    [disabled]="movementForm.invalid"
  >
    Confirmar
  </button>
</mat-dialog-actions>
