
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    min-width: 600px;
}

.filter-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.movement-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.item-form{
    display: flex;
    flex-direction: column;
}