.success-message{
    border: solid 1px #396600;
    background-color: rgba(255, 255, 255, 0.966);
    color: #396600;
    
    border-radius: 10px;
    font-size: 12px;
    margin: 0;
    text-align: center;
    width: 300px;
    padding: 5px;
    position: fixed;
    top: 0;
    right: 20px;
    opacity: 0.9;
}