@import 'src/my-pallete.scss';
.success-message{
    border: solid 1px map-get($my-pallete, 900);
    background-color: rgba(255, 255, 255, 0.966);
    color: map-get($my-pallete, 900);
    
    border-radius: 10px;
    font-size: 12px;
    margin: 0;
    text-align: center;
    width: 300px;
    padding: 5px;
    position: fixed;
    top: 0;
    right: 20px;
    opacity: 0.9;
}