@import 'src/my-pallete.scss';
.container {
  height: 100%;
  background-color:map-get(map-get($my-pallete, 'contrast'), 300);
  .item-full-width {
    width: 100%;
    padding: 0px;
  }

  .list-button {
    display: flex;
    gap: 10px;
  }

  .filter-container {
    background-color:map-get(map-get($my-pallete, 'contrast'), 300);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px 0 10px;
    width: 100%;
    gap: 10px;
    .flex-end {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 20px;
    }
  }
  .flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    .row-card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      h3 {
        margin: 0;
        font-size: medium;
      }
      p {
        margin: 0;
        font-size: small;
      }
    }
  }
}
