.nav-bar{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eeeeee;
	overflow:hidden;
    position: fixed;
    top: 64px;
    gap: 10px;
    height: 100vh;
    width: 20%;
    .nav-item{
        width: -webkit-fill-available;
        a{
            display: block;
            padding: 15px 40px;
            text-decoration: none;
            color: #555;
            font-size: 16px;
        }
        border-left: 4px solid transparent;
        a:hover{
            background-color: #3a660048;
            color: #396600;
        }
        a:active{
            background-color: #3a660048;
            color: #396600;
        }

    }
    .active{
        color: #396600;
        border-left: 4px solid #396600;
    }


}