@import 'src/my-pallete.scss';
.panel {
  border: 1px solid map-get(map-get($my-pallete, 'contrast'),300);
  border-radius: 8px;
  padding: 20px;
  width: 70%;
  height: 400px;
  margin: 20px auto 100%;
  background-color: map-get(map-get($my-pallete, 'contrast'),400);
  .header {
    text-align: center;
    margin-bottom: 15px;

    h1 {
      font-size: 24px;
      color: map-get($my-pallete, 800);;
    }
  }

  .content {
    p {
      text-align: center;
      margin-bottom: 10px;
      font-size: 16px;
      color: map-get(map-get($my-pallete, 'contrast'),500);
    }

    table {
      width: 100%;
      th,
      td {
        padding: 8px;
        border-bottom: 1px solid map-get(map-get($my-pallete, 'contrast'),300);
      }

      th {
        text-align: left;
        font-weight: bold;
        color:map-get(map-get($my-pallete, 'contrast'),500);
      }
    }
  }
}
