<app-success-message *ngIf="createSuccess" [successMessage]="createMessage"/>
<app-error-message *ngIf="createError" [errorMessage]="createMessage"/>


<mat-toolbar>
    <div>
      <button (click)="handleAddDeparment()" mat-icon-button color="accent">
        <mat-icon>add</mat-icon>
      </button>
      <span>Adicionar Departamento</span>
    </div>
  </mat-toolbar>
  
  <mat-list class="item" *ngFor="let department of departments; let i = index">
    <mat-list-item>
      <h3 matListItemTitle class="item-name">{{ department.name }}</h3>
      <p matListItemLine>
        <span> {{ department.created_at }}</span>
      </p>
      <mat-icon matListItemIcon>group</mat-icon>
    </mat-list-item>
    <mat-divider />
  </mat-list>
  
  <app-paginator />
  