<app-success-message *ngIf="createSuccess" [successMessage]="createMessage"/>
<app-error-message *ngIf="createError" [errorMessage]="createMessage"/>

<mat-toolbar>
    <button
      (click)="handleModal()"
      mat-icon-button
      color="accent"
      aria-label="Example icon button with a heart icon"
    >
      <mat-icon *ngIf="!modal">add</mat-icon>
      <mat-icon *ngIf="modal">remove</mat-icon>
    </button>
    <span>Adicionar Setor</span>
  </mat-toolbar>
  
  <app-modal />
  <mat-card *ngIf="modal">
    <form [formGroup]="sectorForm" class="item-form">
      <mat-form-field >
        <mat-label>Nome do Setor</mat-label>
        <input
          matInput
          placeholder="Informática"
          formControlName="title"
          required
        />
      </mat-form-field>
      <div class="buttons">
        <button
          type="submit"
          class="item-button"
          mat-flat-button
          color="accent"
          (click)="addSector()"
          [disabled] = "sectorForm.invalid"
        >
          Adicionar 
        </button>
      </div>
    </form>
    
  </mat-card>
  
  <mat-list class="item" *ngFor="let department of departments; let i = index">
    <mat-list-item>
      <h3 matListItemTitle class="item-name">{{ department.title }}</h3>
      <p matListItemLine>
        <span> {{ department.created_at }}</span>
      </p>
      <mat-icon matListItemIcon>group</mat-icon>
    </mat-list-item>
    <mat-divider />
  </mat-list>
  
  <app-paginator />
  