<h2 mat-dialog-title>{{ title }}</h2>
<mat-dialog-content>
  <form class="item-form" [formGroup]="form">
    <mat-form-field class="item-full-width">
      <mat-label>Nome do Colaborador</mat-label>
      <input matInput placeholder="João" formControlName="name" required />
    </mat-form-field>

    <mat-form-field class="item-full-width">
      <mat-label>Função exercida</mat-label>
      <input matInput placeholder="Desenvolvedor" formControlName="role" />
    </mat-form-field>

    <mat-form-field class="item-full-width">
      <mat-label>Setor</mat-label>
      <mat-select formControlName="department">
        <mat-option [value]="null"> Informe um Setor</mat-option>
        <mat-option
          *ngFor="let department of departments"
          [value]="department.id"
        >
          {{ department.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button mat-dialog-close color="warn">Cancel</button>
  <button
    mat-dialog-close
    type="submit"
    class="item-button"
    mat-flat-button
    color="accent"
    (click)="submit()"
    [disabled]="form.invalid"
  >
    Confirmar
  </button>
</mat-dialog-actions>
